.contact-text {
  margin: 40px 100px;
  text-align: center;
  font-family: monospace, "Helvetica", "sans-serif";
  font-size: 18px;
}

#photo-text {
  margin: 908px 55px 40px 55px;
  text-align: justify;
  color: black;
  font-family: monospace, "Helvetica", "sans-serif";
  text-shadow: yellow 2px 2px;
  font-size: 21px;
}

#form-contact {
  border: yellow solid 2px;
  padding: 0 46px 0 46px;
  margin-bottom: 30px;
  padding-top: 24px;
}

#text-left {
  padding-left: 350px;
  text-align: justify;
}

#text-right {
  padding-right: 350px;
  text-align: justify;
}

.text-yellow {
  text-shadow: rgba(255, 251, 6, 1) 1px 2px;
}

.footer {
  margin-top: 32px;
}

.footer p {
  font-family: monospace, "Helvetica", "sans-serif";
  font-size: 16px;
}

.footer i {
  font-size: 64px;
  color: white;
}

.footer i:hover {
  color: $yellow;
}

#val {
  text-decoration: none;
  color: white;
}

#val:hover {
  color: $yellow;
}
