.bigpic img {
  height: 100%;
  box-shadow: 1px 3px 10px black;
}

.bigpic {
  height: 500px;
}

.bigpic3 {
  margin: 15px;
}

.pic {
  height: 50px;
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 640px) {
  .horizontale {
    max-width: 90%;padding-top: 25%;
  }
}

.pic img {
  height: 100%;
  margin: 0 5px 10px 5px;
  border-radius: 2px;
  box-shadow: 5px 2px 2px black;
}

.pic img:hover {
  box-shadow: 10px 5px 5px black;
}

.over {
  opacity: 0;
}

