// Specific CSS for your home-page
#logo {
  width: 250px;
}

.rallonge {
  height: 1000px;
}

.bigger {
  font-size: 45px;
}

#map {
font-family: monospace;
margin-bottom: 30px;
font-size: 20px;
}

@media (max-width: 540px) {
  #map {
    font-size: 15px;
  }
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}
