// Specific CSS for your home-page
#logo {
  width: 250px;
}

.rallonge {
  height: 600px;
}

#map {
font-family: monospace;
}

#background {
  width: 5000px;
  height: 5000px;
  position: absolute;
  background-color: black;
}
