.ClassCSS {
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
}
.ClassCSS iframe{
    display: block;
    width: 100%;
    position: relative;
    pointer-events: none;
}
.ClassCSS iframe.clicked{
    pointer-events: auto;
}
