.photos {
  width: 200px;
  margin-bottom: 20px;
}

.menuslide {
  text-align: center;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
  color: white;
  position: absolute;
  bottom: 20px;
}
