body {
  background: black;
}

span {
  color: white;
  font-family: monospace;
  font-size: 110%;
}

#AboutDevTypeText {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 80;
}

.blinker {
  z-index: 80;
  opacity: 1;
  margin-bottom: -2px;
  height: 15px;
  margin-left: -5px;
  border-left: 7px solid white;
  animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
  to {
    visibility: hidden;
  }
}
